*,
*::before,
*::after,
*:visited {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}


#search-ico {
    transition: all 50ms ease-in-out;
}

#search-ico:hover {
    transform: scale(70);
}

.navbar:has(#search-ico:hover) .nav-list {
    transform: scale(2) translate(3rem);
}


#msg-btn {
    cursor: pointer;
}

.msg-ico-active{
    position: fixed;
}

/* body>#msg-ico {
    position: fixed;
    bottom: 3vh;
    rotate: 60deg;
    animation: fly 4s cubic-bezier(0.23, 1, 0.320, 1);
} */